<ion-view view-title="">
    <ion-content class="padding">
      <div class="list">
        <a class="item item-icon-left" ng-show = "seUser.display_name" href="#">
          <i class="icon ion-person"></i>
          {{seUser.display_name}}
        </a>
        <a class="item item-icon-left" ng-show = "seUser.website_url" href="#">
          <i class="icon ion-home"></i>
          {{seUser.website_url}}
        </a>
      </div>
      <h2 class = "item item-text-wrap" ng-show = "seUser.about_me" ng-bind-html="seUser.about_me"></h2>
    </ion-content>
</ion-view>
