<ion-view view-title="StackExchange Events">
  <ion-content has-bouncing=true>
    <button id="refresh" ng-click = "update()" class=" button button-positive  button-block icon ion-android-refresh "></button>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="stackExchangeEvent in stackExchangeEvents.items"
      type="item-text-wrap" href="#/app/stackexchange-user/{{stackExchangeEvent.owner.user_id}}">
        <img ng-src="{{stackExchangeEvent.owner.profile_image}}">
        <h2>{{stackExchangeEvent.owner.display_name}}</h2>
        <h2>{{stackExchangeEvent.owner.user_id}}</h2>
        <h2>{{stackExchangeEvent.title}}</h2>
        <p>{{stackExchangeEvent.tags.join(",")}}</p>
        <p>views: {{stackExchangeEvent.view_count}},
         answers: {{stackExchangeEvent.answer_count}}, score:{{stackExchangeEvent.score}}
       </p>
        <!--
        <p>{{'new Date(stackExchangeEvent.creation_date*1000).toUTCString()}}</p>
        <p>{{'new Date(stackExchangeEvent.last_activity_date*1000).toUTCString()}}</p>
      -->
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
